<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>Home </title>
    
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/User/Table.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    
</head>
<body>
  
     <!-- header -->
     <%- include ('../Header.ejs',{userInfor:userInfor} ) %> 
    
     <div id="notify" >   
        <a style="margin-left: 30%; display: none; margin-bottom: 10px;" name="" id="ClearAll"  href="#" > Clear All  </a>     
        <div id="notifyBox">

        </div>
    </div>

   <div class="admin">
        <!-- title -->
        <h3 style="text-align:center"> Incoming Home's Post Request</h3>
         <hr> <br>
        <!-- /title -->
        <div class="WarpTable">
            <table class="table table-hover table-inverse  tbl">
                <thead class="thead-inverse">
                    <tr>
                        <th class="LeftCol">Id</th>
                        <th>Home Name</th>
                        <th>Address</th>                    
                        <th>Owner</th>
                        <th>Area</th>
                        <th>Purpose</th>                 
                        <th>Prices</th>                 
                        <th>Status</th>                 
                        <th class="RightCol">Button</th>
                    </tr>
                </thead>
                    <tbody>
                        <% Home.forEach(element => { %>
                            <tr id="row<%= element.HomeId%>">
                                <td scope="row" class="LeftCol" >
                                  <a href="/homelist/<%= element.HomeId %>"><%= element.HomeId %> </a>
                                 </td>
                                <td> <a href="/homelist/<%= element.HomeId %>"> <%= element.HomeName %></a>   </td>
                                <td><%= element.Address %></td>
                              
                                <td> <%= element.FullName %>   </td>
                                <td> <%= element.Area %></td>
                                <td> <%= element.Purpose %></td>
                                <td> <%= element.Price %></td>
                             
                                <% if ( element.Permission ) { %>
                                    <td style="color: green;" id="status<%=element.MeetingId%>" > On </td>
                                <% } else{ %>
                                    <td style="color: #ffc107; " id="status<%=element.MeetingId%>"> Off </td>                            
                                <% }%>


                                <td class="RightCol">
                                        
                                    <% if ( element.Permission ) { %>
                                            <input type="checkbox" class="toggle" name="che<%= element.HomeId%>" checked data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-warning">
                                    
                                    <% } else{ %>
                                            <input type="checkbox" class="toggle" name="che<%= element.HomeId%>"  data-toggle="toggle" data-onstyle="outline-success" data-offstyle="outline-warning">
                                                                                                
                                    <% }%>



                                     
                                    <button type="button" class="btn btn-danger" name="del<%= element.HomeId%>"  >X</button>      
                                </td>
                                
                            </tr>
                            
                        <% }) %>
                      
                        
                    </tbody>
            </table>
    

        </div>
       
        
          
       
   </div>
   
  

  <!-- footer -->
  <%- include ('../Footer.ejs') %> 

    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>


    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>



    <script type="text/javascript" >
                            $('#ClearAll').on('click',function(){

                $('#notifyBox').children().remove();
                $('#ClearAll').hide();
                });


                $('input.toggle').on('change',function (){
                    let that = this;
                    let id  =  this.name.substr(3); //get id
                    let url = '/admin/home'
                    let method = 'put'

                    let isCheck = that.checked;
                    if(isCheck){
                        
                        // console.log("switch is       : on ")
                        // console.log("status is       : on ")
                        // console.log("prevouss is     : off ")
                        axios({
                                method: method,
                                url: url,
                                data: {
                                    id:id,
                                    type:'On'
                                }
                            }).then( (res)=>{

                                // change status
                                $(`#status${id}`).css('color','green').html('On');
                            

                                $('#notifyBox').append(`
                                <div class="alert alert-success alert-dismissible fade show" style="width: 100%" role="alert">
                                    it just been set : <strong>"On!"</strong> 
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                `)
                                    //notify
                                if ( $('#notifyBox').children().length!==0) {
                                    $('#ClearAll').show();
                                } else {
                                    $('#ClearAll').hide();
                                        
                                }

                                // console.log(res.data)
                            
                                
                            }).catch(error=>console.log(error));

                        
                    }else{                                            
                        // console.log("switch is       : off ")
                        // console.log("status is       : off ")
                        // console.log("prevouss is     : on ")
                        
                        axios({
                            method: method,
                            url: url,
                            data: {
                                id:id,
                                type:'Off'
                            }
                        }).then( (res)=>{                          
                            $(`#status${id}`).html('Off').css('color','#ffc107');   
                        
                        

                            $('#notifyBox').append(`
                                <div class="alert alert-warning alert-dismissible fade show" style="width: 100%" role="alert">
                                    it just been set : <strong>"Off!"</strong> 
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                `)
                            
                            // Clear All Button
                            if ( $('#notifyBox').children().length!==0) {
                                $('#ClearAll').show();
                            } else {
                            $('#ClearAll').hide();                       
                            }

                        //  console.log(res.data)

                        }).catch(error=>console.log(error));   

                        
                    }
                })
                    
                        //button delete
                $('button.btn-danger').on('click', function(){
                    if(!confirm('Are you sure ? ')) return;


                    let id  =  this.name.substr(3); //get id
                    let url = '/admin/home'
                    let method = 'delete'

                    
                    axios({
                        method: method,
                        url: url,
                        data: {
                            id:id,
                            type:'delete'
                        }
                    }).then( (res)=>{

                        $(`#row${id}`).remove();
                        console.log(res.data)
                        $('#notifyBox').append(`
                                <div class="alert alert-success alert-dismissible fade show" style="width: 100%" role="alert">
                                    <strong>" Delete ! "</strong> 
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                        `)
                         // Clear All Button
                         if ( $('#notifyBox').children().length!==0) {
                                $('#ClearAll').show();
                        } else {
                            $('#ClearAll').hide();                       
                         }            

                    }).catch(error=>console.log(error));
                    
                })
      

    </script>


</body>
</html>