<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>Your Home</title>
    
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/User/profile.css">
    <link rel="stylesheet" href="/stylesheets/User/Table.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>



</head>
<body>
  
    <!-- header -->
    <%- include ('../Header.ejs',{userInfor:userInfor}) %> 

   <div class="Profile">
        <!-- title -->
        <h3 style="text-align:center"> Your Home </h3>
         <hr> <br>
        <!-- /title -->
        
        <table class="table table-hover table-inverse  tbl">
            <thead class="thead-inverse">
                <tr>
                    <th class="LeftCol">stt</th>
                    <th>Home Name</th>
                    <th>Address</th>
                    <th>Area</th>
                    <th>Year Built </th>
                    <th>Purpose</th>
                    <th>Prices</th>
                    <th>Status</th>
                    <th class="RightCol">Button</th>
                </tr>
                </thead>
                <tbody>
                    <% home.forEach(element => { %>
                        <tr>
                            <td scope="row" class="LeftCol"> <%= home.indexOf(element)+1 %> </td>
                            <td> <%= element.HomeName%></td>
                            <td><%= element.Address %> </td>
                            <td> <%= element.Area %></td>
                            <td> <%= element.YearBuilt %></td>
                            
                            <td><%= element.Purpose %></td>
    
                            <td><%= element.Price %></td>
                            
                            <% if (!element.Permission ){ %>
                                <td> <span style="color: #ffc107;">Off</span> </td>
                                
                                <% }else{ %>
                              <td> <span style="color: green;">On</span> </td>
                                    
                            <% } %> 
                            
                            <td class="RightCol">
                                
                                <a href="/users/home/<%= element.HomeId %>">
                                    <img class="BigIcon" src="/images/icon/edit.svg" alt="Location"> </img>
                                </a>                           
                  
                            </td>
                            
                        </tr>
                       <% }) %>
                       
                   
                   
                    
                    
                </tbody>

        </table>
         <!-- paginate Home -->
         <div class="paginate">
            <hr>
            <nav >
                <ul class="pagination">

                        <% if(CurrentHome ==0){ %> 
                            <li class="page-item disabled">
                                <span style="color: #9818d6;"  class="page-link">Previous</span>
                            </li>
                        <% }else{ %> 
                            <li class="page-item">
                                <a style="color: #9818d6;"  class="page-link" href="?home=<%=CurrentHome-1%>" >Previous</a>
                            </li>                        
                        <% } %> 
                    
                        <% for( let index = 0; index < NumOfRows_Home; index++ ) { %>
                    
                            <% if( CurrentHome === index){ %> 
                                <li class="page-item active">
                                    <a class="page-link" href="?home=<%= CurrentHome%>"><%= CurrentHome%></a>
                                </li>                        
                            <% }else{ %> 

                                <li class="page-item">
                                    <a style="color: #9818d6;" class="page-link" href="?home=<%=index%>"><%=index%></a>
                            </li>
                            <% } %> 
                            
                
                                        
                        <% } %>

                        <% if(CurrentHome ==NumOfRows_Home-1 ){ %> 
                            <li class="page-item disabled">
                                <span style="color: #9818d6;"  class="page-link">Next</span>
                            </li>
                        <% }else{ %> 
                            <li class="page-item">
                                <a style="color: #9818d6;"  class="page-link" href="?home=<%=CurrentHome+1%>" >Next</a>
                            </li>                        
                        <% } %> 
                </ul>
            </nav>
        </div>
     <!-- paginate Home -->    



         <!-- title -->
         <h3 style="text-align:center"> Incoming Meeting request </h3>
         <hr> <br>
        <!-- /title -->
        
        <table class="table table-hover table-inverse  tbl">
            <thead class="thead-inverse">
                <tr>
                    <th class="LeftCol">stt</th>
                    <th>Home Name</th>
                    <th>Address</th>
                    <th>Mail</th>
                    <th>Date </th>
                    <th>Duaration</th>
                
                    <th>Message</th>
                    <th>Status</th>
                  
                    <th class="RightCol" >Button </th>
                </tr>
                </thead>
                <tbody>
                    <% meeting.forEach(element => { %>
                     
                        <tr>
                            <td class="LeftCol" scope="row"> <%= meeting.indexOf(element)+1 %> </td>
                            <td>  <%= element.HomeName %></td>
                            <td> <%= element.Address %> </td>
                            <td>  <%= element.EmailBooker %> </td>
                            <td> <%= element.MeetingDate %></td>
                            <td > <%= element.Duration %> </td>
                            <td><%= element.Message %> </td>
                            
                            <% if (!element.Permission ){ %>
                                <td> <span style="color: #ffc107;">Off</span> </td>
                                
                                <% }else{ %>
                              <td> <span style="color: green;">On</span> </td>
                                    
                            <% } %> 
                            
                            <td class="RightCol">
                                
                            <a name="" id="" class="btn btn-primary"  target="_blank" href="/users/composermail/<%= element.EmailBooker %>" role="button">Mail</a>               
                            <a name="" id=""  onclick="confirmDelete(event)"  class="btn btn-danger" href="/users/meeting/delete/<%= element.MeetingId%>" role="button">x</a>               
                            </td>
                            
                        </tr>
                        
                    
                    
                    <% }) %>
                  
                </tbody>
        </table>

        <!-- paginate Meeting -->
        <div class="paginate">
            <hr>
            <nav >
                <ul class="pagination">

                        <% if(CurrentMeeting ==0){ %> 
                            <li class="page-item disabled">
                                <span style="color: #9818d6;"  class="page-link">Previous</span>
                            </li>
                        <% }else{ %> 
                            <li class="page-item">
                                <a style="color: #9818d6;"  class="page-link" href="?meeting=<%=CurrentMeeting-1%>" >Previous</a>
                            </li>                        
                        <% } %> 
                    
                        <% for( let index = 0; index < NumOfRows_Meeting; index++ ) { %>
                    
                            <% if( CurrentMeeting === index){ %> 
                                <li class="page-item active">
                                    <a class="page-link" href="?meeting=<%= CurrentMeeting%>"><%= CurrentMeeting%></a>
                                </li>                        
                            <% }else{ %> 

                                <li class="page-item">
                                    <a style="color: #9818d6;" class="page-link" href="?meeting=<%=index%>"><%=index%></a>
                            </li>
                            <% } %> 
                            
                
                                        
                        <% } %>

                        <% if(CurrentMeeting ==NumOfRows_Meeting-1 ){ %> 
                            <li class="page-item disabled">
                                <span style="color: #9818d6;"  class="page-link">Next</span>
                            </li>
                        <% }else{ %> 
                            <li class="page-item">
                                <a style="color: #9818d6;"  class="page-link" href="?meeting=<%=CurrentMeeting+1%>" >Next</a>
                            </li>                        
                        <% } %> 
                </ul>
            </nav>
        </div>
     <!-- paginate Meeting -->    


   </div>
   
  
   <!-- Footer -->
   <div >
    <%- include('../Footer.ejs')  %> 

   </div>
  

    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>

   <script>

        function confirmDelete(event) {
            if(confirm('Do You want to delete it ?')  ){
                
                return true;
            }else{
                event.preventDefault();
                return false;
            }
        }

   </script>

</body>
</html>