<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>Modify your home</title>
    
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/User/Post_Update_DeleteHome.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.css">
   
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>
<body>
  
  <!-- Header  -->
  <%- include ('../Header.ejs',{userInfor:userInfor}) %> 


   <div class="HomeForm" >
        <!-- title -->
        <h3 style="text-align:center"> Your Home  </h3>
         <hr> <br>
        <!-- /title -->

        <form action="/users/home" method="put" class="form"  id="<%=Home.HomeId%>">
                <div class="form-group HomeName">
                    <h4 style="text-align: center;">
                       <label for="HomeName">Your Home Name : </label> 
                        <span style="color:#C693DE;"> <%= Home.HomeName %> </span>
                    </h4>
                     
                    <input type="text" value="<%= Home.HomeName %>"
                            class="form-control " name="HomeName" id="HomeName" aria-describedby="HomeName" placeholder="">
                    <small id="HomeName" class="form-text text-muted">Simple name please !1 ^^</small>

                    <br><br>
                    <div class="check">
                      <h4 style="text-align: center;"> Purpose  <span style="color:#C693DE;"> <%= Home.Purpose %> </span> </h4>
                      <br>
                      <% if(  Home.Purpose == 'ForRent' ){  %> 
                      <label class="form-check-label">
                        <input  checked class="form-check-input" type="radio" name="Purpose"  id="ForRent" value="ForRent"> For Rent 
                      </label>
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="Purpose"  id="ForSale" value="ForSale"> For Sale 
                      </label>
                      <% }else{ %>
                        <label class="form-check-label">
                          <input   class="form-check-input" type="radio" name="Purpose"  id="ForRent" value="ForRent"> For Rent 
                        </label>
                        <label class="form-check-label">
                          <input checked class="form-check-input" type="radio" name="Purpose"  id="ForSale" value="ForSale"> For Sale 
                        </label>
                      <% } %> 
    
                   </div>     


                </div>


                <!-- type Title -->
                  <a class="btn btn-default" data-toggle="collapse" href="#Type" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <h5 ><img class="BigIcon" src="/images/icon/edit.svg" alt="Time"><b>   Type </b> </img> </h5>
                  </a>             
                
                <div class="collapse" id="Type">                
                      <!-- type -->
                        <div class="row type">               
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                        <label for="HallWay">Hall way :
                                          <span style="color:#C693DE;"> <%= Home.HallWay %> </span>
                                        </label>
                                        <input type="text" value="<%= Home.HallWay %>"
                                            class="form-control" name="HallWay" id="HallWay" aria-describedby="HallWay" >
                                        
                                        </div>
                                        <div class="form-group">
                                        <label for="ApartmentType">Apartment Type:
                                          <span style="color:#C693DE;"> <%= Home.Type %> </span>
                                        
                                        </label>
                                        <input type="text"
                                            class="form-control" name="ApartmentType"
                                            value="<%= Home.Type %>"
                                             id="ApartmentType" aria-describedby="ApartmentType">
                                      
                                        </div>
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="form-group">
                                        <label for="Heating">Heating:
                                          <span style="color:#C693DE;"> <%= Home.Heating %> </span>
                                        </label>
                                        <input type="text" value="<%= Home.Heating %>"
                                            class="form-control" name="Heating" id="Heating" aria-describedby="Heating" >
                                       
                                        </div>
                                        <div class="form-group">
                                        <label for="SubwayStation">Subway station:

                                          <span style="color:#C693DE;"> <%= Home.SubwayStation %> </span>
                                        </label>
                                        <input type="text"
                                            class="form-control"
                                            value="<%= Home.SubwayStation %>"
                                             name="SubwayStation" id="SubwayStation" aria-describedby="SubwayStation" >
                                        
                                        </div>

                                    </div>

                          
                              </div>
                      
                           <!--/type -->

                
                  </div>
    
                  <!-- title -->
               
                <hr> <br>
                <!-- /title -->
              
              
                <!-- image Title -->
                  <a class="btn btn-default" data-toggle="collapse" href="#Image" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <h5 ><img class="BigIcon" src="/images/icon/edit.svg" alt="Time"><b>   Image  </b> </img> </h5>
                  </a>   
                   <!-- image dropdown -->
                  <div class="collapse" id="Image">  

                                   <div class="row image">
                    
                                          <!-- img1  -->
                                          <div class="col-xl-6" >
                                              
                                              <div class="form-group" name="ImageInput">
                                                  <label for="Image1">Image 1:</label>
                                                    <input type="text" class="form-control" 
                                                    value="<%= Home.Image1 %>"
                                                    name="Image1" id="Image1"  >
                                                  
                                              </div>              
                                              <img id="PreviewImage1" style=" height : 200px  ;border-radius: 5%;" src="<%= Home.Image1 %>" class="img-thumbnail" alt="Responsive image">                  
                                      
                                          </div>
                                          <!-- img1  -->
                                          <div class="col-xl-6" >
                                              
                                              <div class="form-group" name="ImageInput">
                                                  <label for="Image2">Image 2:</label>
                                                    <input type="text" class="form-control"
                                                    value="<%= Home.Image2 %>"
                                                    name="Image2" id="Image2"  >
                                                    
                                              </div>              
                                              <img id="PreviewImage2" style=" height : 200px  ;border-radius: 5%;" src="<%= Home.Image2 %>" class="img-thumbnail" alt="Responsive image">                  
                                      
                                          </div>
                                          <!-- img1  -->
                                          <div class="col-xl-6" >
                                              
                                              <div class="form-group" name="ImageInput">
                                                  <label for="Image3">Image 3:</label>
                                                    <input type="text" class="form-control"
                                                    value="<%= Home.Image3 %>"
                                                    name="Image3" id="Image3"  >
                                                  
                                              </div>              
                                              <img id="PreviewImage3" style=" height : 200px  ;border-radius: 5%;" src="<%= Home.Image3 %>" class="img-thumbnail" alt="Responsive image">                  
                                      
                                          </div>
                                          <!-- img1  -->
                                          <div class="col-xl-6" >
                                              
                                              <div class="form-group" name="ImageInput">
                                                  <label for="Image4">Image 4:</label>
                                                    <input type="text" class="form-control"
                                                    value="<%= Home.Image4 %>"
                                                     name="Image4" id="Image4"  >
                                                    
                                              </div>              
                                              <img id="PreviewImage4" style=" height : 200px  ;border-radius: 5%;" src="<%= Home.Image4 %>" class="img-thumbnail" alt="Responsive image">                  
                                      
                                          </div>
                                          <!-- img1  -->
                                          <div class="col-xl-6" >
                                              
                                              <div class="form-group" name="ImageInput">
                                                  <label for="Image5">Image 5:</label>
                                                    <input type="text" class="form-control" 
                                                    value="<%= Home.Image5 %>"
                                                    name="Image5" id="Image5"  >
                                              
                                              </div>              
                                              <img id="PreviewImage5" style=" height : 200px  ;border-radius: 5%;" src="<%= Home.Image5 %>" class="img-thumbnail" alt="Responsive image">                  
                                      
                                          </div>
                                          <!-- img1  -->
                                          <div class="col-xl-6" >
                                              
                                              <div class="form-group" name="ImageInput">
                                                  <label for="Image6">Image 6:</label>
                                                    <input type="text" class="form-control"
                                                    value="<%= Home.Image6 %>"
                                                    name="Image6" id="Image6"  >
                                                  
                                              </div>              
                                              <img id="PreviewImage6" style=" height : 200px  ;border-radius: 5%;" src="<%= Home.Image6 %>" class="img-thumbnail" alt="Responsive image">                  
                                      
                                          </div>                                       
                                  </div>

                      </div>
                     <!-- image dropdown -->
                


                <!-- title -->
                    <br><br>
                <h3 style="text-align:center"> Information for statiscs </h3>
                <hr> <br>              
              
                <!-- /title -->



              <!-- Construction Title -->
              <a class="btn btn-default" data-toggle="collapse" href="#Construction" role="button" aria-expanded="false" aria-controls="collapseExample">
                <h5 ><img class="BigIcon" src="/images/icon/edit.svg" alt="Time"><b>   Construction  </b> </img> </h5>
              </a>   
              
               <!-- Construction dropdown -->
              <div class="collapse" id="Construction">  
                                  <!-- Construction  -->
                              <div class="row Construction">
                            
                                <div class="col-xl-4">
                                    <div class="form-group">
                                      <label for="YearBuilt">Year Built:    <span style="color:#C693DE;"> <%= Home.YearBuilt %> </span> </label>
                                      <input type="number" min="0" value="<%= Home.YearBuilt %>"
                                        class="form-control predict"   name="YearBuilt" id="YearBuilt" aria-describedby="YearBuilt" >
                                  
                                    </div>
                                    <div class="form-group">
                                      <label for="Elevators">Elevators:    <span style="color:#C693DE;"> <%= Home.Elevators %> </span> </label>
                                      <input type="number" min="0" value="<%= Home.Elevators %>"
                                        class="form-control predict" name="Elevators" id="Elevators" aria-describedby="Elevators" >
                                     
                                    </div>
                
                                </div>
                
                                <div class="col-xl-4">
                                    <div class="form-group">
                                      <label for="Area">Area:     <span style="color:#C693DE;"> <%= Home.Area %> </span> </label>
                                      <input type="number" min="0" value="<%= Home.Area %>"
                                        class="form-control predict" name="Area" id="Area" aria-describedby="Area"   >
                                      <small id="Area" class="form-text text-muted"> square meters </small>
                                    </div>
                                    <div class="form-group">
                                      <label for="Manager">Managers:    <span style="color:#C693DE;"> <%= Home.Manager %> </span></label>
                                      <input type="number" min="0" value="<%= Home.Manager %>"
                                        class="form-control predict" name="Manager" id="Manager" aria-describedby="Manager"   >
                                      <small id="Manager" class="form-text text-muted">Number of managers</small>
                                    </div>   
                                </div>

                                <div class="col-xl-4">
                                    <div class="form-group">
                                      <label for="Floor">Floors:    <span style="color:#C693DE;"> <%= Home.Floor %> </span> </label>
                                      <input type="number" min="0" value="<%= Home.Floor %>"
                                        class="form-control predict" name="Floor" id="Floor" aria-describedby="Floor"     >
                                 
                                    </div>
                                    <div class="form-group">
                                      <label for="Apt">Building:    <span style="color:#C693DE;"> <%= Home.Apt %> </span> </label>
                                      <input type="number" min="0" value="<%= Home.Apt %>"
                                        class="form-control predict" name="Apt" id="Apt" aria-describedby="Apt" >
                                      <small id="Apt" class="form-text text-muted">Number of buiding in complex</small>
                                    </div>   
                                </div>
                                
                            </div>    
                            <!-- /Construction  -->
                  </div>
                  <hr> <br>
                  <!-- /Construction dropdown -->



              



                
                
                  <!-- Facilities Title -->
                  <a class="btn btn-default" data-toggle="collapse" href="#Facilities" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <h5><img class="BigIcon" src="/images/icon/edit.svg" alt="Time"><b> Facilities </b> </img> </h5>
                  </a>
                  
                  <!-- Facilities dropdown -->
                  <div class="collapse" id="Facilities">
                                          <!-- Facilities  -->
                                  <div class="row Facilities">
                                
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                          <label for="PublicOffice">Public Office:     <span style="color:#C693DE;"> <%= Home.PublicOffice %> </span>  </label>
                                          <input type="number" min="0" value="<%= Home.PublicOffice %>"
                                            class="form-control predict" name="PublicOffice" id="PublicOffice" aria-describedby="PublicOffice"   >
                                   
                                        </div>
                                        <div class="form-group">
                                          <label for="Mall">Mall:     <span style="color:#C693DE;"> <%= Home.Mall %> </span> </label>
                                          <input type="number" min="0" value="<%= Home.Mall %>"
                                            class="form-control predict" name="Mall" id="Mall" aria-describedby="Mall"    >
                                        
                                        </div>
                    
                                    </div>
                    
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                          <label for="Hospital">Hospital:    <span style="color:#C693DE;"> <%= Home.Hospital %> </span>  </label>
                                          <input type="number" min="0" value="<%= Home.Hospital %>"
                                            class="form-control predict" name="Hospital" id="Hospital" aria-describedby="Hospital"   >
                                        
                                        </div>
                                        <div class="form-group">
                                          <label for="Park">Park:     <span style="color:#C693DE;"> <%= Home.Park %> </span>     </label>
                                          <input type="number" min="0" value="<%= Home.Park %>"
                                            class="form-control predict" name="Park" id="Park" aria-describedby="Park"  >
                                          
                                        </div>   
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="form-group">
                                          <label for="DepartmentStore">DepartmentStore:     <span style="color:#C693DE;"> <%= Home.DepartmentStore %> </span> </label>
                                          <input type="number" min="0" value="<%= Home.DepartmentStore %>"
                                            class="form-control predict" name="DepartmentStore" id="DepartmentStore" aria-describedby="DepartmentStore"      >
                                      
                                        </div>
                                        <div class="form-group">
                                          <label for="Other">Other:     <span style="color:#C693DE;"> <%= Home.Other %> </span>  </label>
                                          <input type="number" min="0" value="<%= Home.Other %>"
                                            class="form-control predict" name="Other" id="Other" aria-describedby="Other"  >
                                          <small id="Apt" class="form-text text-muted">swimming pool, gym, play ground ...</small>
                                        </div>   
                                    </div>
                                    
                                </div>    
                                <!-- /Facilities  -->



                  </div>
                  <hr> <br>
                  <!-- /Facilities dropdown -->

              
           

                  <!-- Parking Title -->
                  <a class="btn btn-default" data-toggle="collapse" href="#Parking" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <h5><img class="BigIcon" src="/images/icon/edit.svg" alt="Time"><b> Parking: </b> </img> </h5>
                  </a>
                  
                  <!-- Parking dropdown -->
                  <div class="collapse" id="Parking">
                                                <!-- Parking -->
                                  <div class="row Parking">
                                  
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                        <label for="Ground">Ground:     <span style="color:#C693DE;"> <%= Home.Ground %> </span> </label>
                                        <input type="number" min="0" value="<%= Home.Ground %>"
                                            class="form-control predict" name="Ground" id="Ground" aria-describedby="Ground"   >
                                       
                                        </div>
                                      

                                    </div>

                                    <div class="col-xl-6">
                                        <div class="form-group">
                                        <label for="Basement">Basement:      <span style="color:#C693DE;"> <%= Home.Basement %> </span> </label>
                                        <input type="number" min="0" value="<%= Home.Basement %>"
                                            class="form-control predict" name="Basement" id="Basement" aria-describedby="Basement"  >
                              
                                        </div>
                                      
                                    </div>

                                    
                                </div>
                                <!--/parking -->
                  </div>
                  <hr> <br>
                    <!-- Parking dropdown -->
               
                   
                

               
                    <!-- Time Title -->
                    <a class="btn btn-default" data-toggle="collapse" href="#Time" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <h5><img class="BigIcon" src="/images/icon/edit.svg" alt="Time"><b> Time to </b> </img> </h5>
                  </a>
                  
                  <!-- Time dropdown -->
                  <div class="collapse" id="Time">
                         <!-- Time -->
                                <div class="row Time">
                                
                                  <div class="col-xl-6">
                                      <div class="form-group">
                                      <label for="BusStop">Bus Stop:     <span style="color:#C693DE;"> <%= Home.BusStop %> </span> </label>
                                      <input type="number" min="0" value="<%= Home.BusStop %>"
                                          class="form-control predict" name="BusStop" id="BusStop" aria-describedby="BusStop" >
                                      <small id="BusStop" class="form-text text-muted">Minutes </small>
                                      </div>
                                    

                                  </div>

                                  <div class="col-xl-6">
                                      <div class="form-group">
                                      <label for="SubWay">SubWay:      <span style="color:#C693DE;"> <%= Home.Subway %> </span>       </label>
                                      <input  type="number" min="0" value="<%= Home.Subway %>"
                                          class="form-control predict" name="SubWay" id="SubWay" aria-describedby="SubWay" >
                                      <small id="SubWay" class="form-text text-muted">Minutes</small>
                                      </div>
                                    
                                  </div>
                 
                              </div>
                           <!--/Time -->
                  </div>
                  <hr> <br>
                    <!-- /Time dropdown -->


              
                 

                 <!-- School Title -->
                 <a class="btn btn-default" data-toggle="collapse" href="#School" role="button" aria-expanded="false"
                 aria-controls="collapseExample">
                 <h5><img class="BigIcon" src="/images/icon/edit.svg" alt="School"><b> School </b> </img> </h5>
               </a>
               
               <!-- School dropdown -->
               <div class="collapse" id="School">
                                        <!-- School -->
                                <div class="row School">
                                
                                  <div class="col-xl-6">
                                      <div class="form-group">
                                      <label for="Elementary">Elementary:    <span style="color:#C693DE;"> <%= Home.Elementary %> </span></label>
                                      <input type="number" min="0"  value ="<%= Home.Elementary %>"
                                          class="form-control predict" name="Elementary" id="Elementary" aria-describedby="Elementary" >
                                     
                                      </div>
                                    
                                      <div class="form-group">
                                      <label for="High">High School:     <span style="color:#C693DE;"> <%= Home.High %> </span> </label>
                                      <input type="number" min="0" value ="<%= Home.High %>"
                                          class="form-control predict" name="High" id="High" aria-describedby="High" >
                                    
                                      </div>

                                  </div>

                                  <div class="col-xl-6">
                                      
                                    <div class="form-group">
                                        <label for="Middle">Middle  : <span style="color:#C693DE;"> <%= Home.Middle %> </span>   </label>
                                        <input type="number" min="0" value="<%= Home.Middle %>"
                                            class="form-control predict" name="Middle" id="Middle" aria-describedby="Middle" >
                                      
                                    </div>    
                                    

                                      <div class="form-group">
                                      <label for="University">University  :  <span style="color:#C693DE;"> <%= Home.University %> </span> </label>
                                      <input type="number" min="0" value="<%= Home.University %>"
                                          class="form-control predict" name="University" id="University" aria-describedby="University" >
                                   
                                      </div>

                                  </div>

                                  
                              </div>
                              <!--/School -->
              
              </div>
              <hr> <br>
                <!-- /School dropdown -->
                

                 <div class="row">
                
                     <div class="col-xl-6">

                        <!-- price -->
                        <div class="form-group Price">
                            <label for="Price">Price :   <span style="color:#C693DE;"> <%= Home.Price %> </span></label>
                            <input type="number" min="0" value="<%= Home.Price %>"
                                class="form-control" name="Price" id="Price" aria-describedby="Price" placeholder="">
                         
                            <br>
                            <button type="submit" class="btn btn-primary"> Post</button>    

                            <button type="button" id ="delete" class="btn btn-danger"> Delete</button>    
                            <div class="" id="alert">
                              <!-- alert put here -->
                            </div>   
                        </div>
  
                    </div>
                 </div>
                
            
        </form>

   </div>
   
  
   
  <!-- Header  -->
  <%- include('../Footer.ejs')%>


    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>



    <script type="text/javascript" >
        // preview  script
        for (let index = 1; index <= 6; index++){
            $(`#Image${index}`).keyup(function(){
                 let link =$(`#Image${index}`).val();
                 $(`#PreviewImage${index}`).attr('src',link); 

             });           
        }  
         // submit
        $('form.form').on('submit', function (event) {
            
          
            var that = $(this), //refer to form
              url = that.attr('action'), //* cai nay bug ne 
              method = that.attr('method'),
              data = {},
              nameArr =[],
              valueArr=[];

            

            that.find('[name]').each(function (index, value) {
              let that = $(this),
                name = that.attr('name');
                value = that.val();
              if (value !== '' && name !=='Purpose' ) {
                nameArr.push(name);
                valueArr.push(value)
                // console.log(value);
                data[name] = value;

              };

            })

            if(  $("#ForSale").is(":checked"))
            {
              
                nameArr.push('Purpose');
                valueArr.push("ForSale");
                data['Purpose'] = 'ForSale';
            }
             else
            {
              
                nameArr.push('Purpose');
                valueArr.push("ForRent");
                data['Purpose'] = 'ForRent';
            }



           
            objData= {
              nameArr:nameArr,
              valueArr:valueArr,
              HomeId:that.attr('id')
            }
           

            axios({
              method: method,
              url: url,
              data: objData
            }).then(function (response) {
              let { alert, success } = response.data;
              // console.log(response.data.alert);          
              if (alert) {
                $('#alert').html(`  
              <div class="alert alert-danger alert" role="alert" >
                   got some problem - check console log
                   
              </div>`)
              console.log(alert)

              } else {
                $('#alert').html(`  
              <div class="alert alert-success" role="alert">
                Successfully
                
              </div>`)
              console.log(success)
              }
             
            

            }).catch(error => console.log(error));


            return false; // prevent form submit event.preventDefault();  
          });           
    

        $('#delete').on('click',function(event) {
            if(!confirm("Are You Sure ?"))return;          

            axios({
              method: 'delete',
              url: '/users/home',
              data: { HomeId:$('form.form').attr('id')}
            }).then(function (response) {                    
              
              let { alert, success } = response.data;
              // console.log(response.data.alert);          
              if (alert) {
                $('#alert').html(`  
              <div class="alert alert-danger alert" role="alert" >
                   got some problem - check console log
                   
              </div>`)
              console.log(alert)

              } else {
                $('#alert').html(`  
              <div class="alert alert-success" role="alert">
                Deleted Successfully
                
              </div>`)
              console.log(success)
              }
             
                        
            }).catch(error => console.log(error));


        })
      
    </script>


</body>
</html>