<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>Your News</title>
    
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/User/Table.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
  
    <!-- header -->
    
     <%- include ('../Header.ejs',{userInfor:userInfor}) %>  

   <div class="Table">
        <!-- title -->
        <h3 style="text-align:center"> Your News Post </h3>
         <hr> <br>
        <!-- /title -->
        <div class="WarpTable">
            <table class="table table-hover table-inverse  tbl">
                <thead class="thead-inverse">
                    <tr>
                        <th class="LeftCol">stt</th>
                        <th>Home Name</th>
                        <th>Address</th>                    
                        <th>Time</th>
                        <th>Status</th>                 
                        <th class="RightCol">Button</th>
                    </tr>
                </thead>
                    <tbody>
                       
                            <% news.forEach(  element => { %>
                                <tr>
                                    <td scope="row" class="LeftCol" > <%= news.indexOf(element)+1 %> </td>
                                
                                    <td> <a href="/news/<%= element.NewsId %>"> <%= element.Title %></a> </td>
                                    <td> <%= element.Place %></td>
                                  
                                    <td>  <%= element.CreatedDate.toString().substr(0,15) %></td>
                                    
                                    <%if ( element.Permission ) { %>
                                        <td style="color: green;"> Posting </td>
                                  <%  } else { %>
                                    <td style="color: red;"> Waiting </td>
                                    <%} %>
                                
                                    <td class="RightCol"> 
                                      
                                      <a name="" id="" class="btn btn-default" href="#" role="button">

                                         <img class="BigIcon" src="/images/icon/edit.svg" alt="Time"> </img>
                                      </a>
                                

                                      <button type="button" class="btn btn-danger">delete</button>
                                      
                                    </td>
                                    
                                </tr>
                            <% }) %>
                        
                        
                    </tbody>
            </table>
    

        </div>
            <br><br>

         <!-- title -->
         <h3 style="text-align:center"> Compose 
            <a class="btn btn-default" data-toggle="collapse" href="#Compose" role="button" aria-expanded="false" aria-controls="collapseExample" >
              <img class="BigIcon" src="/images/icon/edit.svg" alt="Time"> </img> 
            </a>             
         </h3>
          <!-- /title -->
         <hr> <br>
        <div class="collapse" id="Compose">
            <form action="">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                          <label for="Title">Title</label>
                          <input required type="text" class="form-control" name="Title" id="Title" aria-describedby="Title" placeholder="">
                          <small id="Title" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="form-group">
                          <label for="Location">Location</label>
                          <input required type="text" class="form-control" name="Location" id="Location" aria-describedby="Location" placeholder="HoanKiem-HaNoi">
                          <small id="Location" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="form-group">
                          <label for="Image">Image </label>
                          <input required type="text" class="form-control" name="Image" id="Image" 
                          aria-describedby="Image" placeholder="link">
                        
                          <img id="PreviewImage" style=" height : 200px  ;border-radius: 5%;" 
                          src="https://picsum.photos/id/237/1000/500" class="img-thumbnail" 
                          alt="Responsive image">                  
                        
    
    
                        </div>
                        
                    </div>
                    <div class="col-xl-6">
                            <div class="form-group">
                              <label for="Brief">Brief</label>
                                   <textarea required class="form-control" name="Brief" id="Brief" rows="10"></textarea>
                            </div>
                          
                    </div>
    
                </div>



                 <!-- title -->
                 <h3 style="text-align:center">  Composer site </h3>
                 <hr> <br>
                <!-- /title -->
                
                
                 
              <textarea required class="form-control" name="content"  id="editor" rows="">
                
              </textarea>

              <br> <br>
              <button  type="button" class="btn btn-primary">submit</button>
            </form>


          </div>
         
   </div>
   
   <br><br><br><br><br><br><br>
   <!-- foooter -->
   <%- include('../Footer.ejs')  %>

    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>



    <script type="text/javascript" >
       
       $(`#Image`).keyup(function(){
             let link =$(`#Image`).val();
          $(`#PreviewImage`).attr('src',link); 

         }); 


     ClassicEditor
     .create( document.querySelector( '#editor' ) )
     .then( editor => {
            console.log( editor );
     } ).catch( error => {
          console.error( error );
    } );
     ClassicEditor
     .create( document.querySelector( '#modify' ) )
     .then( editor => {
            console.log( editor );
     } ).catch( error => {
          console.error( error );
    } );
           
                                
                                
         
      

    </script>


</body>
</html>