<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>Your News</title>
    
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/User/Table.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/17.0.0/classic/ckeditor.js"></script>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
  
    <!-- header -->
    
     <%- include ('../Header.ejs',{userInfor:userInfor}) %>  

     <div id="notify" >   
        <a style="margin-left: 30%; display:none; margin-bottom: 10px;" name="" id="ClearAll"  href="#" > Clear All  </a>     
        <div id="notifyBox">
        
            

        </div>
    </div>

   <div class="Table">
        <!-- title -->
        <h3 style="text-align:center"> Your News Post </h3>
         <hr> <br>
        <!-- /title -->
        <div class="WarpTable">
            <table class="table table-hover table-inverse  tbl">
                <thead class="thead-inverse">
                    <tr>
                        <th class="LeftCol">NewsId</th>
                        <th>Title</th>
                        <th>Address</th>                    
                        <th>Time</th>
                        <th>Status</th>                 
                        <th class="RightCol">Button</th>
                    </tr>
                </thead>
                    <tbody>
                       
                            <% news.forEach(  element => { %>
                                <tr  id="row<%= element.NewsId%>"  >
                                    <td scope="row"   class="LeftCol" >  <a href="/news/<%= element.NewsId %>" ><%= element.NewsId%></a> </td>
                                
                                    <td> <a href="/news/<%= element.NewsId %>"> <%= element.Title %></a> </td>
                                    <td> <%= element.Place %></td>
                                  
                                    <td>  <%= element.CreatedDate.toString().substr(0,21) %></td>
                                    
                                    <%if ( element.Permission ) { %>
                                        <td style="color: green;"> On </td>
                                  <%  } else { %>
                                    <td style="color: #ffc107;"> Off </td>
                                    <%} %>
                                
                                    <td class="RightCol"> 
                                      
                                      <a name="" id="" class="btn btn-default" href="/users/news/<%=element.NewsId%>" role="button">

                                         <img class="BigIcon" src="/images/icon/edit.svg" alt="Time"> </img>
                                      </a>
                                

                                      
                                    <button type="button" class="btn btn-danger" name="del<%= element.NewsId%>"  >X</button>      
                                    </td>
                                    
                                </tr>
                            <% }) %>
                        
                        
                    </tbody>
            </table>
            
             <!-- paginate  -->
             <div class="paginate">
              <hr>
              <nav aria-label="...">
                  <ul class="pagination">

                          <% if(Current ==0){ %> 
                              <li class="page-item disabled">
                                  <span style="color: #9818d6;"  class="page-link">Previous</span>
                              </li>
                          <% }else{ %> 
                              <li class="page-item">
                                  <a style="color: #9818d6;"  class="page-link" href="?page=<%=Current-1%>" >Previous</a>
                              </li>                        
                          <% } %> 
                      
                          <% for( let index = 0; index < NumOfPage; index++ ) { %>
                      
                              <% if( Current === index){ %> 
                                  <li class="page-item active">
                                      <a class="page-link" href="?page=<%= Current%>"><%= Current%></a>
                                  </li>                        
                              <% }else{ %> 

                                  <li class="page-item">
                                      <a style="color: #9818d6;" class="page-link" href="?page=<%=index%>"><%=index%></a>
                              </li>
                              <% } %> 
                              
                  
                                          
                          <% } %>

                          <% if(Current ==NumOfPage-1 ){ %> 
                              <li class="page-item disabled">
                                  <span style="color: #9818d6;"  class="page-link">Next</span>
                              </li>
                          <% }else{ %> 
                              <li class="page-item">
                                  <a style="color: #9818d6;"  class="page-link" href="?page=<%=Current+1%>" >Next</a>
                              </li>                        
                          <% } %> 
                  </ul>
              </nav>
          </div>
       <!-- paginate  -->    


        </div>
            <br><br>

         <!-- title -->
         <h3 style="text-align:center"> Compose 
            <a class="btn btn-default" data-toggle="collapse" href="#Compose" role="button" aria-expanded="false" aria-controls="collapseExample" >
              <img class="BigIcon" src="/images/icon/edit.svg" alt="Time"> </img> 
            </a>             
         </h3>
          <!-- /title -->
         <hr> <br>
        <div class="collapse" id="Compose">
            <form action="/users/news" method ='post' class="form">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                          <label for="Title">Title</label>
                          <input required type="text" class="form-control" name="Title" id="Title" aria-describedby="Title" placeholder="">
                          <small id="Title" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="form-group">
                          <label for="Place">Location</label>
                          <input required type="text" class="form-control" name="Place" id="Place" aria-describedby="Location" placeholder="HoanKiem-HaNoi">
                          <small id="Place" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="form-group">
                          <label for="Image">Image </label>
                          <input required type="text" class="form-control" name="Image" id="Image" 
                          aria-describedby="Image" placeholder="link">
                        
                          <img id="PreviewImage" style=" height : 200px  ;border-radius: 5%;" 
                          src="https://picsum.photos/id/237/1000/500" class="img-thumbnail" 
                          alt="Responsive image">                  
                        
    
    
                        </div>
                        
                    </div>
                    <div class="col-xl-6">
                            <div class="form-group">
                              <label for="Brief">Brief</label>
                                   <textarea required class="form-control" name="Brief" id="Brief" rows="10"></textarea>
                            </div>
                          
                    </div>
    
                </div>



                 <!-- title -->
                 <h3 style="text-align:center">  Composer site </h3>
                 <hr> <br>
                <!-- /title -->
                
                
                 
              <textarea required class="form-control" name="Content"  id="editor" rows="">
                
              </textarea>

              <br> <br>
              <button  type="submit"  class="btn btn-primary">submit</button>
            </form>


          </div>
         
   </div>
   
   <br><br><br><br><br><br><br>
   <!-- foooter -->
   <%- include('../Footer.ejs')  %>

    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>



    <script type="text/javascript" >
       
       $(`#Image`).keyup(function(){
             let link =$(`#Image`).val();
          $(`#PreviewImage`).attr('src',link); 

         }); 


     ClassicEditor
     .create( document.querySelector( '#editor' ) )
     .then( editor => {
            console.log( editor );
     } ).catch( error => {
          console.error( error );
    } );
          
                                
        $('#ClearAll').on('click',function(){
          $('#notifyBox').children().remove();
         $('#ClearAll').hide();
        });
    
                //button delete
               $('button.btn-danger').on('click', function(){
                    if(!confirm('Are you sure ? ')) return;


                    let id  =  this.name.substr(3); //get id
                    let url = '/users/news'
                    let method = 'delete'

                    
                    axios({
                        method: method,
                        url: url,
                        data: {
                            id:id,
                            type:'delete'
                        }
                    }).then( (res)=>{

                       
                        $(`#row${id}`).remove();
                        console.log(res.data)
                        $('#notifyBox').append(`
                                <div class="alert alert-success alert-dismissible fade show" style="width: 100%" role="alert">
                                    <strong>" Delete ! "</strong> 
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                        `)
                         // Clear All Button
                         if ( $('#notifyBox').children().length!==0) {
                                $('#ClearAll').show();
                        } else {
                            $('#ClearAll').hide();                       
                         }            

                    }).catch(error=>console.log(error));
                    
                })
        

       
       $('form.form').on('submit', function (event) {
       
        
        var that = $(this), //refer to form
              url = that.attr('action'), //* cai nay bug ne 
              method = that.attr('method'),
              data = {};
              
            

        that.find('[name]').each(function (index, value) {
              let that = $(this),
              name = that.attr('name');
              value = that.val();
              data[name] = value;
        })
      
        axios({
              method: method,
              url: url,
              data: data
        }).then(function (response) {
           console.log(response.data)
           $('#notifyBox').append(`
           <div class="alert alert-success alert-dismissible fade show" style="width: 100%" role="alert">
             <strong>" Posted ! "</strong> <a href="/users/news"> Click to refresh</a>
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                   </button>
               </div>
                        `)
            // Clear All Button
            if ( $('#notifyBox').children().length!==0) {
                   $('#ClearAll').show();
           } else {
               $('#ClearAll').hide();                       
            }           
             
            

          }).catch(error => console.log(error));



        return false;
       });         


    </script>


</body>
</html>