<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>Home list</title>
    
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/HomePage/HomeList.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.css">
   



</head>
<body>
    <!-- header -->
    <%- include ('../Header.ejs',{userInfor:userInfor}) %> 


   
   <div class="ListHome">
   
   <!-- find  -->
    <div class=NewPostTitle>
        <h1>   What  are you finding.....? </h1>
            <hr>
    </div>
    <div class="Find">
     
        <form action="/filter" method="POST" class="FindForm" >
            <div class="row">
              <!-- col1 -->

               <div class="col-lg-6">
                
                  <div class="form-group">
                    <label for="Address">Address :</label>
                    <input type="text"
                      class="form-control" name="Address" id="Address" aria-describedby="helpId" placeholder="Address">
                  </div>
            
                  Purpose :<br>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Purpose"  name="ForRent" value="ForRent">
                    <label class="form-check-label" for="inlineCheckbox1"> For Rent </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="ForSale" value="ForSale">
                    <label class="form-check-label" for="inlineCheckbox2">For Sale </label>
                  </div>
                   <br>
                  <label class="form-check-label" for="YearBuilt">YearBuilt: </label>
                  <div class="form-row">
                    <div class="col-sm">
                      <input type="number" class="form-control" id="YearBuilt" name="YearBuiltFrom"  placeholder="From" min="1900">
                    </div>
                    <div class="col-sm">
                      <input type="number" class="form-control" name="YearBuiltTo" placeholder="To" min="1900">
                    </div>            
                  </div>

                  <label class="form-check-label" for="Area"> Area: </label>
                  <div class="form-row">
                    <div class="col-sm">
                      <input type="number" class="form-control"  id = "Area" name="AreaFrom"  placeholder="From" min="0">
                    </div>
                    <div class="col-sm">
                      <input type="number" class="form-control" name="AreaTo" placeholder="To" min="0">
                    </div>            
                  </div>


               </div>

               
              <!-- col2 -->
               <div class="col-lg-6">

                 <label class="form-check-label" for="Area"> Number of Facilites: </label>
                <div class="form-row">
                  <div class="col-sm">
                    <input type="number" class="form-control"  name="FacilitesFrom"  placeholder="From" min="0">
                  </div>
                  <div class="col-sm">
                    <input type="number" class="form-control" name="FacilitesTo" placeholder="To" min="0">
                  </div>            
                </div>
                
                <label class="form-check-label" for="Area">Time To Go Public Transportation point: </label>
                <div class="form-row">
                  <div class="col-sm">
                    <input type="number" class="form-control"  name="TranpostationFrom"  placeholder="From" min="0">
                  </div>
                  <div class="col-sm">
                    <input type="number" class="form-control" name="TranpostationTo" placeholder="To" min="0" >
                  </div>            
                </div>
                <label class="form-check-label" for="Area">Paking lot : </label>
                <div class="form-row">
                  <div class="col-sm">
                    <input type="number" class="form-control"  name="ParkingLotFrom"  placeholder="From" min="0">
                  </div>
                  <div class="col-sm">
                    <input type="number" class="form-control" name="ParkingLotTo" placeholder="To"  min="0">
                  </div>            
                </div>
                <label class="form-check-label" for="Area"> Number of School Nearby: </label>
                <div class="form-row">
                  <div class="col-sm">
                    <input type="number" class="form-control"  name="SchoolFrom"  placeholder="From" min="0" > 
                  </div>
                  <div class="col-sm">
                    <input type="number" class="form-control" name="SchoolTo" placeholder="To"  min="0" >
                  </div>            
                </div>

               </div>
               
               
               
            </div>
            <br>
            <button type="submit" class="btn btn-danger">Search</button>
        </form>

    </div>

    <br><br><hr>
    <!-- list  -->
        <div class=NewPostTitle>
            <h1>   List </h1>
                <hr>
        </div>
        <!-- for tam 3 cai -->
        <% for( let index = 0; index < home.length; index++ ) { %>
        
       
              <div style="margin-bottom:  30px;" class="information">
                  <div class="row">
                      
                      <div class="col-xl-5">
                          <div class="MainHomeImage">
                              <a href="/homelist/<%= home[index].HomeId%>"> 
                                  <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="<%= home[index].Image1%>" class= "img-thumbnail" alt="Responsive image">
                              </a>                 
                          </div>                                      
                      </div>

                      <div class="col-xl-7">
                          
                          <h3 style="text-align: center;" > <%= home[index].HomeName%></h3>
                          
                              <div class="row">
                                  <div class="col-xl-6 HomeLocation">
                          
                                      <img class="BigIcon" src="/images/icon/location.svg" alt="Location"> <b style="font-size: smaller;"> <%= home[index].Address%></b></img>
                                  </div>
                                  
                                  <div class="col-xl-6 HomeOwner" style="margin:8px 0px 8px 0px ;" >                
                                      <img class="BigIcon" src="/images/icon/owner.svg" alt="HomeOwner"> <i style="font-size: smaller;" > <%= home[index].FullName%> </i></img>
                                  </div>
                                
                                  
                                
                                  <div class="col-xl-6 HomeLocation"  style="margin:8px 0px 8px 0px ;" >
                                      <img class="BigIcon" src="/images/icon/area.svg" alt="area"> <b><%= home[index].Area%></b></img>
                                      
                                  </div>
                                  <div class="col-xl-6 HomeLocation" style="margin:8px 0px 8px 0px ;">
                                      <img class="BigIcon" src="/images/icon/calendar.svg" alt="calendar"> <b><%= home[index].YearBuilt%></b></img>
                                      
                                  </div>
                              
                                  <div class="col-xl-6 HomeLocation" style="margin:8px 0px 8px 0px ;">
                                      Purpose <br>
                                      <span style="color: red;"><%= home[index].Purpose%></span>
                                  </div>
                                  <div class="col-xl-6 HomeLocation" style="margin:8px 0px 8px 0px ;"> 
                                      <img class="BigIcon" src="/images/icon/cost.svg" alt="cost"> <b><%= home[index].Price%></b> $</img>
                                    
                                  </div>
                                  <div style="margin:auto" >
                                      <a href="/HomeList/<%= home[index].HomeId%>"><button type="button"  class="btn btn-warning">View Details</button></a>

                                  </div>
                              </div>
                      </div>

                  </div>
              </div>
         <% } %>        
                 <!-- paginate Home  -->
        <div class="paginate">
          <hr>
          <nav >
              <ul class="pagination">
                      <% if(Current_Home ==0){ %> 
                          <li class="page-item disabled">
                              <span style="color: #9818d6;"  class="page-link">Previous</span>
                          </li>
                      <% }else{ %> 
                          <li class="page-item">
                              <a style="color: #9818d6;"  class="page-link" href="?home=<%=Current_Home-1%>" >Previous</a>
                          </li>                        
                      <% } %> 
                  
                      <% for( let index = 0; index < NumOfPage_Home; index++ ) { %>
                  
                          <% if( Current_Home === index){ %> 
                              <li class="page-item active">
                                  <a class="page-link" href="?home=<%= Current_Home%>"><%= Current_Home%></a>
                              </li>                        
                          <% }else{ %> 

                              <li class="page-item">
                                  <a style="color: #9818d6;" class="page-link" href="?home=<%=index%>"><%=index%></a>
                          </li>
                          <% } %> 
                          
              
                                      
                      <% } %>

                      <% if(Current_Home ==NumOfPage_Home-1 ){ %> 
                          <li class="page-item disabled">
                              <span style="color: #9818d6;"  class="page-link">Next</span>
                          </li>
                      <% }else{ %> 
                          <li class="page-item">
                              <a style="color: #9818d6;"  class="page-link" href="?home=<%=Current_Home+1%>" >Next</a>
                          </li>                        
                      <% } %> 
              </ul>
          </nav>
      </div>
   <!-- paginate Home --> 
   </div>
   


   <!-- footer -->
   <%- include('../Footer.ejs')%>

    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>