<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>Home Details </title>
    
    
    <link rel="stylesheet" type="text/css"  href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/HomePage/HomeDetails.css">
    <!-- bootstrap  -->
    <link rel="stylesheet"  type="text/css" href="/javascripts/bootstrap/dist/css/bootstrap.css">
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>



</head>
<body>
     <!-- header -->
     <%- include ('../Header.ejs',{userInfor:userInfor} ) %> 
  


   
   <div class="HomeDetails">
        
        <!-- basic information -->
        <h3 style="text-align: center;"> <%= home.HomeName %> </h3>
        <div class="row ">
            
            <div class="col-sm-4">
                <div>
                    <img src="/images/icon/location.svg" alt="Location" class="BigIcon" >  <%= home.Address %> </img>
                </div>
                <div>
                    <img src="/images/icon/owner.svg" alt="owner" class="BigIcon">  <%= home.FullName %> </img>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <img src="/images/icon/calendar.svg" alt="calendar" class="BigIcon">  <%= home.YearBuilt %></img>
                </div>
                <div>
                    <h6>Purpose <br>  <span style="color: red;">  <%= home.Purpose %></span> </h6>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <img src="/images/icon/area.svg" alt="area" class="BigIcon">  <%= home.Area %> </img>
                </div>
                <div>
                    <img src="/images/icon/cost.svg" alt="cost" class="BigIcon">  <%= home.Price %>$ </img>
                </div>
            </div>


        </div>
         <!-- /basic information -->
        
         <!-- horizontal line  -->
         <br><hr><br>
        <!-- /horizontal line  -->


         <!-- Carousel -->
         
         <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
            <div class="carousel-inner CarouselBg">
                
                <div class="carousel-item active HomeImage">
                <img src="<%= home.Image1 %>" alt="image 1">
              </div>

              <div class="carousel-item HomeImage">
                <img src="<%= home.Image2 %>"  alt="image 2">
              </div>
              
              <div class="carousel-item HomeImage">
                <img src="<%= home.Image3 %>" alt="image 3">
              </div>
              <div class="carousel-item HomeImage">
                <img src="<%= home.Image4 %>" alt="image 3">
              </div>
              <div class="carousel-item HomeImage">
                <img src="<%= home.Image5 %>"  alt="image 3">
              </div>
              <div class="carousel-item HomeImage">
                <img src="<%= home.Image6 %>" alt="image 3">
              </div>

            </div>

            <a style="width:50px;" class="carousel-control-prev CarouselButton" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a style="width:50px;" class="carousel-control-next CarouselButton" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

          </div>
         <!-- /Carousel -->

         <!-- horizontal line  -->
         <br><hr><br>
         <!-- /horizontal line  -->


        <!--  Home details -->    
        <div class="row" id="">
           
            <div class="col-xl-9" id="homeDetails">
               
                <div class="DetailHeader" >
                    <h4  style="text-align: center;  background-color: #c4c4c4;">
                        <img src="/images/icon/homeDetails.svg"  class="BigIcon" alt="HomeDetails"> Home Details </img>
                    </h4>
                </div>
                
                <!-- first row -->
                <div class="row">
                    
                    <div class="col-md-4">
                        <h5>Type</h5> 
                        <table class="table table-hover table-inverse table-responsive">
                            
                                <tbody>
                                    <tr>
                                        <td scope="row">HallWay</td>
                                        <td> <%= home.HallWay %></td>
                                    
                                    </tr>
                                    <tr>
                                        <td scope="row">Heating</td>
                                        <td>  <%= home.Heating %></td>                     
                                    </tr>
                                    <tr>
                                        <td scope="row">Apartment type</td>
                                        <td>  <%= home.ApartmentType %></td>                     
                                    </tr>
                                    <tr>
                                        <td scope="row">Subway station</td>
                                        <td>  <%= home.SubwayStation %> </td>                     
                                    </tr>


                                </tbody>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <h5> Number of School </h5> 
                        <table class="table table-hover table-inverse table-responsive">
                            
                                <tbody>
                                    <tr>
                                        <td scope="row">Elementary</td>
                                        <td>  <%= home.Elementary %></td>
                                    
                                    </tr>
                                    <tr>
                                        <td scope="row">Middle</td>
                                        <td>  <%= home.Middle %></td>                     
                                    </tr>
                                    <tr>
                                        <td scope="row">HighSchool</td>
                                        <td>  <%= home.HighSchool %> </td>                     
                                    </tr>
                                    <tr>
                                        <td scope="row">University</td>
                                        <td>  <%= home.University %></td>                     
                                    </tr>
                                


                                </tbody>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <h5> Number of parking </h5> 
                        <table class="table table-hover table-inverse table-responsive">                 
                                <tbody>
                                    <tr>
                                        <td scope="row">Ground</td>
                                        <td> <%= home.Ground %> </td>
                                    
                                    </tr>
                                    <tr>
                                        <td scope="row">Basement</td>
                                        <td> <%= home.Basement %> </td>                     
                                    </tr>      
                                </tbody>

                        </table>
                       
                        <h5> Time to <i style="font-size: smaller;" >(minute)</i> </h5> 
                        <table class="table table-hover table-inverse table-responsive">                 
                                <tbody>
                                    <tr>
                                        <td scope="row">Bustop</td>
                                        <td> <%= home.Bustop %> </td>
                                    
                                    </tr>
                                    <tr>
                                        <td scope="row">Subway</td>
                                        <td> <%= home.University %> </td>                     
                                    </tr>      
                                </tbody>
                        </table>
                    </div>
                         
                </div>

                <!-- second row -->
                <div class="Con-Fac">

                    <div class="Construction" >
                        <h5 style="text-align: center;">Construction</h5> 
                        <table class="table table-hover table-inverse table-responsive">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Year Built</th>
                                    <th>Area</th>
                                    <th>Floor</th>
                                    <th>Elevartor</th>
                                    <th>Managers</th>
                                    <th>Number Building in complex  </th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row"><%= home.YearBuilt %></td>
                                        <td><%= home.Area %></td>
                                        <td><%= home.Floor %></td>
                                        <td><%= home.Elevartor %></td>
                                        <td><%= home.Managers %></td>
                                        <td><%= home.Apt %></td>

                                    </tr>
                                
                                </tbody>                               
                        </table>


                    </div>

                    <div  class="Facilities">
                        <h5 style="text-align: center;">Facilities</h5> 
                        <table class="table table-hover table-inverse table-responsive">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Public Office</th>
                                    <th>Hospital</th>
                                    <th>Department Store</th>
                                    <th>Mall</th>
                                    <th>Park</th>
                                    <th>Other  </th>
                                    
                                </tr>
                            </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row"><%= home.PublicOffice %></td>
                                        <td><%= home.Hospital %></td>
                                        <td><%= home.DepartmentStore %></td>
                                        <td><%= home.Mall %></td>
                                        <td><%= home.Park %></td>
                                        <td><%= home.Other %></td>

                                    </tr>
                                
                                </tbody>                               
                        </table>

                        
                    </div>


                </div>
           
            </div>


            <!-- meeting form -->
            <div class="col-xl-3" id="BookMeeting">
                <form action="/homelist/booking" method="post" class="book">
                    <div class="form-group">
                      <label for="Email"><h5>Email</h5></label>
                      <input type="text" class="form-control" name="Email" id="Email"  placeholder="blabla@gmail.com" required>                  
                    </div>
                  
                    <div class="form-group">
                      <label for="date"><h5> Date time </h5></label>
                      <input type="datetime-local" class="form-control" placeholder="dd/mm/yy" name="date" id="date" aria-describedby="Date"   required>                  
                      <!-- min="15/11/1999" Date  bắt điều kiện cho ngày ( trèn js ở đây) -->
                      <small id="Date" class="form-text text-muted">When do you want to meet us ?</small>
                    </div>
                    
                    <div class="form-group">
                        <label for="Duration"><h5>Duration </h5></label>
                        <input min="1" max="24" type="number" class="form-control" name="Duration" id="Duration"  aria-describedby="Duration" placeholder="2" required>                  
                        <small id="Duration" class="form-text text-muted">How long you can talk with us?</small>
                    </div>
                    
                    <div class="form-group">
                        <label for="Message">Message</label>
                        <textarea class="form-control" name="Message" id="Message" rows="3"></textarea>
                    </div>
                    
                    <input  type="text" style="display: none;" name="HomeId" id="HomeId"   value="<%= home.HomeId %>">     


                    
                    <button type="submit" class="btn btn-danger">Book</button>
                     
                    <br>
                    <div id="alert">

                    </div>


                </form>
                
            </div>
            <!-- /meeting form -->
        </div>
        <!-- /Home details -->


        <!-- predict loans  -->
         <!-- horizontal line  -->
         <br><hr><br>
        <!-- /horizontal line  -->    
    

        <form  action="/homelist/predictOpentCredit" method="POST" class="Loan">
            <h3 style="text-align: center;">Lets'us Help you calculator !!!  </h3> <br><br>

            <div class="row" id="predict">

                    
                        <!-- col1 -->
                        <div class="col-lg-6">
                            <div class="form-group">
                            <label for="CurrentLoan">Current Loan amount</label>
                            <input type="number" min="0"
                                class="form-control" name="CurrentLoan" id="CurrentLoan" placeholder="11596100">
                                                
                            </div>
                            <div class="form-group">
                            <label for="CreditScore">CreditScore</label>
                            <input type="number" min="0"
                                class="form-control" name="CreditScore" id="CreditScore"  placeholder="1074">
                                                
                            </div>
                            <div class="form-group">
                            <label for="Income">Annual Income</label>
                            <input type="number" min="0"
                                class="form-control" name="Income" id="Income" placeholder="1366823">
                                                
                            </div>
                            <div class="form-group">
                                <label for="Years">Years in current job</label>
                                <input type="number" min="0"
                                class="form-control" name="Years" id="Years" placeholder="5">
                                                    
                            </div>
                            <div class="form-group">
                                <label for="Debt">Monthly Debt</label>
                                <input type="number" min="0"
                                class="form-control" name="Debt" id="Debt"  placeholder="18430">
                                                
                            </div>

                        </div>     
                        <!-- /col1 -->
                        
                        <!-- col2 -->
                        <div class="col-lg-6">
                            
                            <div class="form-group">
                                <label for="YearsofCreditHistory">Years of Credit History</label>
                                <input type="number" min="0"
                                class="form-control" name="YearsofCreditHistory" id="YearsofCreditHistory" placeholder="18">
                                                    
                            </div>
                            <div class="form-group">
                                <label for="Delinquent">Months since last delinquent  </label>
                                <input type="number" min="0"
                                class="form-control" name="Delinquent" id="Delinquent" placeholder="16">
                                                    
                            </div>
                            <div class="form-group">
                                <label for="OpenAccounts">Number of Open Accounts</label>
                                <input type="number" min="0"
                                class="form-control" name="OpenAccounts" id="OpenAccounts" placeholder="11">
                                                    
                            </div>
                            <div class="form-group">
                                <label for="CreditProblems">Number of Credit Problems</label>
                                <input type="number" min="0"
                                class="form-control" name="CreditProblems" id="CreditProblems"  placeholder="1">
                                                
                            </div>
                            <div class="form-group">
                                <label for="CreditBalance">Current Credit Balance</label>
                                <input type="number" min="0"
                                class="form-control" name="CreditBalance" id="CreditBalance" placeholder="290770">
                                                    
                            </div>
                            

                        </div>      
                        <!-- /col2 -->
              
                    
                
            </div>
            <div class="Result">
                    <h4>Your Loan you can get : <span id="predictMaxOpenCredit" style="color: red;">  </span> $   </h4>
                    <button type="submit" value="Submit"  type="button" class="btn btn-warning">Calculator</button>
            </div>   

        </form>


   </div>
   


  <!-- footer -->
  <%- include ('../Footer.ejs') %> 
  
  


    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>

   <script>
       //loan
        $('form.Loan').on('submit',function(event){
                     
            var that = $(this), //refer to form
                 url = that.attr('action'), //* cai nay bug ne 
                 method= that.attr('method'),
                 data={};
                

            that.find('[name]').each(function( index, value){
                let that = $(this),
                    name = that.attr('name');
                
                value = that.val();
                data[name]=value;
            })

           
                   
            axios({
                method: method,
                url: url,
                data: data
            }).then(function (response) {
                    console.log(response.data);
                let weights = response.data.model.weights;
                let income = response.data.income;
                const averageArr = response.data.average; //last col is outcomevariabel, so itnst neccesary
                let outcome=0;
                var i=0;        
                
                // console.log('average',averageArr)
                for ( i ; i < income.length ;++i ){   
                    if ( income[i]===""){                                 
                        outcome+= averageArr[i]*weights[i];
                    }else{
                        income[i]=parseFloat(income[i]);
                        outcome+= income[i]*weights[i];
                    }

                }
                outcome+=weights[i];
                console.log( "Model linear ",response.data.model);
                // outcome.toFixed(3);               
                $('#predictMaxOpenCredit').html(parseInt(outcome));
                // console.log( 'dau vao sau khi phan tich', income);

            }).catch(error=>console.log(error) );
      
            return false; // prevent form submit event.preventDefault();  
        });

        // book
        $('form.book').on('submit',function(event){
                     
                     var that = $(this), //refer to form
                          url = that.attr('action'), //* cai nay bug ne 
                          method= that.attr('method'),
                          data={};
                         
         
                     that.find('[name]').each(function( index, value){
                         let that = $(this),
                             name = that.attr('name');
                         
                         value = that.val();
                         data[name]=value;
                     })
                    

                     console.log(data)
                            
                     axios({
                         method: method,
                         url: url,
                         data: data
                     }).then(function (response) {
                        console.log(response.data)
                        let { success} = response.data;
                        if( success){
                            $('#alert').html(`
                            <div style="width: fit-content;"  class="alert alert-success alert-dismissible fade show" role="alert">
                                       <strong> request s'sendding </strong> 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                             </button>
                            </div>
                            `)
                        }else{
                            $('#alert').html(`
                            <div style="width: fit-content;"  class="alert alert-danger alert-dismissible fade show" role="alert">
                                       <strong> somthing went wrong !! cant send </strong> 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                             </button>
                            </div>
                            `)

                        }




                     }).catch(error=>console.log(error) );
               
                     return false; // prevent form submit event.preventDefault();  
                 });



   </script>

</body>
</html>