<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon/040-home.svg">
    
    <title>Home list</title>
    
    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/HomePage/HomeList.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.css">
   



</head>
<body>
    <!-- header -->
    <%- include ('../Header.ejs',{userInfor:userInfor}) %> 


   
   <div class="ListHome">
   
   <!-- find  -->
    <div class=NewPostTitle>
        <h1>   What  are you finding.....? </h1>
            <hr>
    </div>
    <div class="Find">
     
        <!--    YearBuilt	            Area	                        Floor	                   Parkinglot(Basement)         	                          
                	TimeToBusStop	                TimeToSubway	                     APT	                                Manager		
                Parkinglot(Ground)      FacilitiesNearBy(PublicOffice)   	 FacilitiesNearBy(Hospital)	            FacilitiesNearBy(Dpartmentstore)	
                FacilitiesNearBy(Mall)	FacilitiesNearBy(ETC)	        FacilitiesNearBy(Park)	            
                
                SchoolNearBy(Elementary)	            SchoolNearBy(Middle)
                SchoolNearBy(High)	    SchoolNearBy(University)	    FacilitiesInApt     	  
                           FacilitiesNearBy(Total)	            
                           SchoolNearBy(Total)
                 Elevators
               
                
            
             AptManageType	
            HeatingType
            SubwayStation
            HallwayType


            SalePrice 
            -->



        <form action="FindForm">
            <div class="row">
                <!-- 1st col -->
                    <div class="col-md-2">                     
                        
                        <label for="YearBuilt">Year Built</label>
                          <input type="text"
                            class="form-control" name="YearBuilt" id="YearBuilt" aria-describedby="YearBuilt" placeholder="2000">
                          <small id="YearBuilt" class="form-text text-muted">Help text</small>
                        
                          <label for="HeatingType">HeatingType</label>
                          <input type="text"
                            class="form-control" name="HeatingType" id="HeatingType" aria-describedby="HeatingType" placeholder="1000">
                          <small id="HeatingType" class="form-text text-muted">Help text</small>
                         
                          <label for="SchoolNearBy(University)">SchoolNearBy</label>
                          <input type="text"
                            class="form-control" name="SchoolNearBy(University)" id="SchoolNearBy(University)" aria-describedby="SchoolNearBy(University)" placeholder="1000">
                          <small id="SchoolNearBy(University)" class="form-text text-muted">University</small>                
                       
                          <label for="Parkinglot(Basement)">Parkinglot</label>
                          <input type="text"
                            class="form-control" name="Parkinglot(Basement)" id="Parkinglot(Basement)" aria-describedby="Parkinglot(Basement)" placeholder="Parkinglot(Basement)">
                          <small id="Parkinglot(Basement)" class="form-text text-muted">Basement</small>
                                     
                          <button type="button" class="btn btn-danger">Find !!</button>
                    </div>
                 <!-- 2nd col  -->
                 <div class="col-md-2">                     
                        
                  
                      <label for="APT">APT</label>
                      <input type="text"
                        class="form-control" name="APT" id="APT" aria-describedby="APT" placeholder="100">
                      <small id="APT" class="form-text text-muted">Help text</small>
                      <label for="HallwayType">HallwayType</label>
                      <input type="text"
                        class="form-control" name="HallwayType" id="HallwayType" aria-describedby="HallwayType" placeholder="10">
                      <small id="HallwayType" class="form-text text-muted">Help text</small>
                      <label for="SchoolNearBy(Middle)">SchoolNearBy</label>
                      <input type="text"
                        class="form-control" name="SchoolNearBy(Middle)" id="SchoolNearBy(Middle)" aria-describedby="SchoolNearBy(Middle)" placeholder="100">
                      <small id="SchoolNearBy(Middle)" class="form-text text-muted">Middle</small>
                    
                      <label for="Parkinglot(Ground)">Parkinglot</label>
                      <input type="text"
                        class="form-control" name="Parkinglot(Ground)" id="Parkinglot(Ground)" aria-describedby="Parkinglot(Ground)" placeholder="1000">
                      <small id="Parkinglot(Ground)" class="form-text text-muted">Ground</small>
                   
                      <label for="FacilitiesNearBy(Park)">FacilitiesNearBy<br> </label>
                    <input type="text"
                        class="form-control" name="FacilitiesNearBy(Park)" id="FacilitiesNearBy(Park)" aria-describedby="FacilitiesNearBy(Park)" placeholder="3123">
                    <small id="FacilitiesNearBy(Park)" class="form-text text-muted">Park</small>
                                            
                </div>   

                <!-- 3rd col  -->
                <div class="col-md-2">                     
                                      
                    <label for="Area">Area</label>
                    <input type="text"
                      class="form-control" name="Area" id="Area" aria-describedby="Area" placeholder="100">
                    <small id="Area" class="form-text text-muted">Help text</small>
                    <label for="AptManageType">AptManageType</label>
                    <input type="text"
                      class="form-control" name="AptManageType" id="AptManageType" aria-describedby="AptManageType" placeholder="100">
                    <small id="AptManageType" class="form-text text-muted">Help text</small>
                  
                    
                    
                    <label for="FacilitiesNearBy(Mall)">FacilitiesNearBy(Mall)</label>
                    <input type="text"
                        class="form-control" name="FacilitiesNearBy(Mall)" id="FacilitiesNearBy(Mall)" aria-describedby="FacilitiesNearBy(Mall)" placeholder="1000">
                    <small id="FacilitiesNearBy(Mall)" class="form-text text-muted">Help text</small>
                    
                    <label for="FacilitiesNearBy(ETC)">FacilitiesNearBy</label>
                    <input type="text"
                        class="form-control" name="FacilitiesNearBy(ETC)" id="FacilitiesNearBy(ETC)" aria-describedby="FacilitiesNearBy(ETC)" placeholder="1000">
                    <small id="FacilitiesNearBy(ETC)" class="form-text text-muted">ETC</small>
                
                   
                </div>   
                  <!-- 4th col -->
                  <div class="col-md-2">                     
                    <label for="Manager">Manager</label>
                    <input type="text"
                      class="form-control" name="Manager" id="Manager" aria-describedby="Manager" placeholder="1000">
                    <small id="Manager" class="form-text text-muted">Help text</small>
                  
                    <label for="FacilitiesInApt">FacilitiesInApt</label>
                      <input type="text"
                        class="form-control" name="FacilitiesInApt" id="FacilitiesInApt" aria-describedby="FacilitiesInApt" placeholder="10">
                      <small id="FacilitiesInApt" class="form-text text-muted">Help text</small>
                      
                      <label for=" SchoolNearBy(Elementary)"> SchoolNearBy </label>
                      <input type="text"
                        class="form-control" name=" SchoolNearBy(Elementary)" id=" SchoolNearBy(Elementary)" aria-describedby=" SchoolNearBy(Elementary)" placeholder="2000">
                      <small id=" SchoolNearBy(Elementary)" class="form-text text-muted">Elementary</small>
                     
                     
                    
                     
                      <label for="FacilitiesNearBy(Total)">FacilitiesNearBy</label>
                      <input type="text"
                        class="form-control" name="FacilitiesNearBy(Total)" id="FacilitiesNearBy(Total)" aria-describedby="FacilitiesNearBy(Total)" placeholder="10">
                      <small id="FacilitiesNearBy(Total)" class="form-text text-muted">Total</small>
                   
                                             
                </div>    
                 <!-- 5th col -->
                 <div class="col-md-2">                     
                  
                    <label for="Floor">Floor</label>
                    <input type="text"
                      class="form-control" name="Floor" id="Floor" aria-describedby="Floor" placeholder="1000">
                    <small id="Floor" class="form-text text-muted">Help text</small>
                    <label for="SubwayStation">SubwayStation</label>
                    <input type="text"
                      class="form-control" name="SubwayStation" id="SubwayStation" aria-describedby="SubwayStation" placeholder="10">
                    <small id="SubwayStation" class="form-text text-muted">Help text</small>
                    
                    <label for="SchoolNearBy(Total)">SchoolNearBy</label>
                      <input type="text"
                        class="form-control" name="SchoolNearBy(Total)" id="SchoolNearBy(Total)" aria-describedby="SchoolNearBy(Total)" placeholder="2000">
                      <small id="SchoolNearBy(Total)" class="form-text text-muted">Total</small>
                    
                     
                     
                      <label for="FacilitiesNearBy(Dpartmentstore)">FacilitiesNearBy </label>
                      <input type="text"
                          class="form-control" name="FacilitiesNearBy(Dpartmentstore)" id="FacilitiesNearBy(Dpartmentstore)" aria-describedby="FacilitiesNearBy(Dpartmentstore)" placeholder="100">
                      <small id="FacilitiesNearBy(Dpartmentstore)" class="form-text text-muted">Dpartmentstore</small>
                      
                     
                     
                   
                    
                                             
                </div>

                 <!-- 6th col -->
                 <div class="col-md-2">                     
                    <label for="TimeToBusStop">TimeToBusStop</label>
                    <input type="text"
                      class="form-control" name="TimeToBusStop" id="TimeToBusStop" aria-describedby="TimeToBusStop" placeholder="10">
                    <small id="TimeToBusStop" class="form-text text-muted">Help text</small>   
                    <label for="TimeToSubway">TimeToSubway</label>
                    <input type="text"
                      class="form-control" name="TimeToSubway" id="TimeToSubway" aria-describedby="TimeToSubway" placeholder="2">
                    <small id="TimeToSubway" class="form-text text-muted">Help text</small>
                    <label for="FacilitiesNearBy(Hospital)">FacilitiesNearBy</label>
                    <input type="text"
                        class="form-control" name="FacilitiesNearBy(Hospital)" id="FacilitiesNearBy(Hospital)" aria-describedby="FacilitiesNearBy(Hospital)" placeholder="2">
                    <small id="FacilitiesNearBy(Hospital)" class="form-text text-muted">Hospital</small>
                    <label for="FacilitiesNearBy(PublicOffice)">FacilitiesNearBy   </label>
                    <input type="text"
                      class="form-control" name="FacilitiesNearBy(PublicOffice)" id="FacilitiesNearBy(PublicOffice)" aria-describedby="FacilitiesNearBy(PublicOffice)" placeholder="">
                    <small id="FacilitiesNearBy(PublicOffice)" class="form-text text-muted">PublicOffice</small>
                                               
                 
                  
                </div>

                
            </div>
           
        </form>

    </div>

    <!-- list  -->
        <div class=NewPostTitle>
            <h1>   List </h1>
                <hr>
        </div>
        <!-- for tam 3 cai -->
        <% for( let index = 0; index < 3; index++ ) { %>
        
       
              <div style="margin-bottom:  30px;" class="information">
                  <div class="row">
                      
                      <div class="col-xl-5">
                          <div class="MainHomeImage">
                              <a href="/homelist/<%= home[index].HomeId%>"> 
                                  <img style=" height : 200px ; width:fit-content ;border-radius: 5%;" src="<%= home[index].Image1%>" class= "img-thumbnail" alt="Responsive image">
                              </a>                 
                          </div>                                      
                      </div>

                      <div class="col-xl-7">
                          
                          <h3 style="text-align: center;" > <%= home[index].HomeName%></h3>
                          
                              <div class="row">
                                  <div class="col-xl-6 HomeLocation">
                          
                                      <img class="BigIcon" src="/images/icon/location.svg" alt="Location"> <b style="font-size: smaller;"> <%= home[index].Address%></b></img>
                                  </div>
                                  
                                  <div class="col-xl-6 HomeOwner" style="margin:8px 0px 8px 0px ;" >                
                                      <img class="BigIcon" src="/images/icon/owner.svg" alt="HomeOwner"> <i style="font-size: smaller;" > <%= home[index].FullName%> </i></img>
                                  </div>
                                
                                  
                                
                                  <div class="col-xl-6 HomeLocation"  style="margin:8px 0px 8px 0px ;" >
                                      <img class="BigIcon" src="/images/icon/area.svg" alt="area"> <b><%= home[index].Area%></b></img>
                                      
                                  </div>
                                  <div class="col-xl-6 HomeLocation" style="margin:8px 0px 8px 0px ;">
                                      <img class="BigIcon" src="/images/icon/calendar.svg" alt="calendar"> <b><%= home[index].YearBuilt%></b></img>
                                      
                                  </div>
                              
                                  <div class="col-xl-6 HomeLocation" style="margin:8px 0px 8px 0px ;">
                                      Purpose <br>
                                      <span style="color: red;"><%= home[index].Purpose%></span>
                                  </div>
                                  <div class="col-xl-6 HomeLocation" style="margin:8px 0px 8px 0px ;"> 
                                      <img class="BigIcon" src="/images/icon/cost.svg" alt="cost"> <b><%= home[index].Price%></b> $</img>
                                    
                                  </div>
                                  <div style="margin:auto" >
                                      <a href="/HomeList/<%= home[index].HomeId%>"><button type="button"  class="btn btn-warning">View Details</button></a>

                                  </div>
                              </div>
                      </div>

                  </div>
              </div>
         <% } %>        
                 <!-- paginate Home  -->
        <div class="paginate">
          <hr>
          <nav >
              <ul class="pagination">
                      <% if(Current_Home ==0){ %> 
                          <li class="page-item disabled">
                              <span style="color: #9818d6;"  class="page-link">Previous</span>
                          </li>
                      <% }else{ %> 
                          <li class="page-item">
                              <a style="color: #9818d6;"  class="page-link" href="?home=<%=Current_Home-1%>" >Previous</a>
                          </li>                        
                      <% } %> 
                  
                      <% for( let index = 0; index < NumOfPage_Home; index++ ) { %>
                  
                          <% if( Current_Home === index){ %> 
                              <li class="page-item active">
                                  <a class="page-link" href="?home=<%= Current_Home%>"><%= Current_Home%></a>
                              </li>                        
                          <% }else{ %> 

                              <li class="page-item">
                                  <a style="color: #9818d6;" class="page-link" href="?home=<%=index%>"><%=index%></a>
                          </li>
                          <% } %> 
                          
              
                                      
                      <% } %>

                      <% if(Current_Home ==NumOfPage_Home-1 ){ %> 
                          <li class="page-item disabled">
                              <span style="color: #9818d6;"  class="page-link">Next</span>
                          </li>
                      <% }else{ %> 
                          <li class="page-item">
                              <a style="color: #9818d6;"  class="page-link" href="?home=<%=Current_Home+1%>" >Next</a>
                          </li>                        
                      <% } %> 
              </ul>
          </nav>
      </div>
   <!-- paginate Home --> 
   </div>
   


   <!-- footer -->
   <%- include('../Footer.ejs')%>

    <!-- include jquery and bootstap -->
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>